<div class="container">
  <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
    <div class="form-group">
      <label for="firstname">First Name</label>
      <input class="form-control" type="text" id="firstname" required [(ngModel)]="firstname" name="firstname" #fname="ngModel">
    </div>
    <br/>

    <div *ngIf="fname.invalid && (fname.dirty || fname.touched)">
      <div class="alert alert-danger" *ngIf="fname.errors.required">
        First name is required.
      </div>
    </div>

    <div class="form-group">
      <label for="lastname">Last Name</label>
      <input class="form-control" type="text" id="lastname" required [(ngModel)]="lastname" name="lastname" #lname="ngModel">
    <br/>

    <div *ngIf="lname.invalid && (lname.dirty || lname.touched)">
      <div class="alert alert-danger" *ngIf="lname.errors.required">
        Last name is required.
      </div>
    </div>

    <div class="form-group">
      <label for="username">Username</label>
      <input class="form-control" type="text" id="username" required [(ngModel)]="username" name="username" #uname="ngModel">
    </div>
  
    <br/>

    <div *ngIf="uname.invalid && (uname.dirty || uname.touched)">
      <div class="alert alert-danger" *ngIf="uname.errors.required">
        Username is required.
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input class="form-control" type="password" id="password" required [(ngModel)]="password" name="password" #pass="ngModel">
    </div>
    <br/>

    <div *ngIf="pass.invalid && (pass.dirty || pass.touched)">
      <div class="alert alert-danger" *ngIf="pass.errors.required">
        Password is required.
      </div>
    </div>  

    <div class="form-group">
      <label for="usermode">User Mode</label>
      <select class="form-control" id="usermode" required [(ngModel)]="usermode" name="usermode" #mode="ngModel">
        <option *ngFor="let um of usermodes" [value]="um">{{um}}</option>
      </select>
    </div>
    
    <div *ngIf="mode.invalid && (mode.dirty || mode.touched)">
      <div class="alert alert-danger" *ngIf="mode.errors.required">
        User mode is required.
      </div>
    </div>  

    <p name="status">{{status}}</p>

    <br><br>
    <button class="btn btn-success" type="submit" [disabled]="!registerForm.form.valid">Submit</button>
    <a href="/" class="btn btn-dark">Cancel</a>
</div>