<div class="modal-header">
  <h4 class="modal-title">Submit Rat Report</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #addRatDataForm="ngForm" (ngSubmit)="onSubmit()">
    <label for="address">Address</label>
    <input type="text" id="address" required [(ngModel)]="address" name="address" #add="ngModel">
    <br/>

    <div *ngIf="add.invalid && (add.dirty || add.touched)">
      <div *ngIf="add.errors.required">
        Address is required.
      </div>
    </div>
    <br/>

    <label for="city">City</label>
    <input type="text" id="city" required [(ngModel)]="city" name="city" #cit="ngModel">
    <br/>

    <div *ngIf="cit.invalid && (cit.dirty || cit.touched)">
      <div *ngIf="cit.errors.required">
        City is required.
      </div>
    </div>
    <br/>

    <label for="zip">Zip Code</label>
    <input type="number" id="zip" required [(ngModel)]="zip" name="zip" #zi="ngModel">
    <br/>

    <div *ngIf="zi.invalid && (zi.dirty || zi.touched)">
      <div *ngIf="fname.errors.required">
        Zip code is required.
      </div>
    </div>
    <br/>

    <label for="borough">Borough</label>
    <select id="borough" required [(ngModel)]="borough" name="borough" #bo="ngModel">
      <option *ngFor="let b of boroughs" [value]="b">{{ b }}</option>
    </select>
    <br/>

    <div *ngIf="bo.invalid && (bo.dirty || bo.touched)">
      <div *ngIf="bo.errors.required">
        Borough is required.
      </div>
    </div>
    <br/>

    <label for="locationtype">Location Type</label>
    <select id="locationtype" required [(ngModel)]="locationType" name="locationType" #lt="ngModel">
      <option *ngFor="let lt of locationtypes" [value]="lt">{{ lt }}</option>
    </select>
    <br/>

    <div *ngIf="lt.invalid && (lt.dirty || lt.touched)">
      <div *ngIf="lt.errors.required">
        Location type is required.
      </div>
    </div>
    <br/>
    
    <br/><br/>
    <button type="submit" [disabled]="!addRatDataForm.form.valid">Submit</button>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>