<div class="container-fluid">
    <div class="row centered">
        <div class="col text-center">
            <app-maps></app-maps>
        </div>
        <div class="col text-center mx-auto">
            <a class="btn btn-lg btn-dark" href="/">Logout</a>
            <br/><br/>
            <app-ratdataentry></app-ratdataentry>
            <app-ratdatadisplay></app-ratdatadisplay>
        </div>
    </div>
    <div class="row centered">
        <div class="col text-center">
            <app-graph></app-graph>
        </div>
        <div class="col">
            <br/><br/><br/>
            <app-admin></app-admin>
        </div>
    </div>
</div>
