<ul class="center-block" style="list-style-type: none">
  <li *ngFor="let data of displayedData">
    <ng-template #ratdatamodal>
      <div class="modal-header">
        <h4 class="modal-title">{{ data.id }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Created On: {{ data.createdDate.toLocaleString() }}</p>
        <p>Location Type: {{ data.locationType }}</p>
        <p>Address: {{ data.incidentAddress }}</p>
        <p>City: {{ data.city }}</p>
        <p>Zip: {{ data.incidentZip }}</p>
        <p>Borough: {{ data.borough }}</p>
        <p>Latitude: {{ data.latitude }}</p>
        <p>Longitude: {{ data.longitude }}</p>
      </div>
    </ng-template>
    <button class="btn btn-sm btn-outline-primary text-center" (click)="open(ratdatamodal)">{{ data.id }}, {{ data.createdDate.toLocaleString() }}</button>
  </li>
</ul>
<div class="text-center" *ngIf="count > 0">
  <span>{{ getMinDataIndex() }} - {{ getMaxDataIndex() }} of {{ count }}</span>
  <button class="page-item btn btn-sm btn-primary" (click)="goToPage(1)" [disabled]="loading">First</button>
  <button class="page-item btn btn-sm btn-primary" (click)="prev()" [disabled]="currPage == 1 || loading">Prev</button>
  <button class="page-item btn btn-sm btn-primary" *ngFor="let pageNum of getPages()" (click)="goToPage(pageNum)">{{ pageNum }}</button>
  <button class="page-item btn btn-sm btn-primary" (click)="next()" [disabled]="lastPage() || loading">Next</button>
  <button class="page-item btn btn-sm btn-primary" (click)="goToPage(totalPages)" [disabled]="loading">Last</button>
  <span>{{ totalPages }} pages</span>
</div>