<canvas #chart id="chart" width="500" height="500"></canvas>
<br/>
<div class="form-group">
    <label for="begindate">Begin Date</label>
    <input class="form-control" type="date" id="begindate" required [(ngModel)]="beginDate" name="begindate" [max]="todayDate" #bdate="ngModel">
</div>
<br/>
<div *ngIf="bdate.invalid && (bdate.dirty || bdate.touched)">
  <div class="alert alert-danger" *ngIf="bdate.errors.required">
    Begin date is required.
  </div>
</div>
<div class="form-group">
    <label for="enddate">End Date</label>
    <input class="form-control" type="date" id="enddate" required [(ngModel)]="endDate" name="enddate" [max]="todayDate" [min]="beginDate" #edate="ngModel">
</div>

<br/>
<div *ngIf="edate.invalid && (edate.dirty || edate.touched)">
  <div class="alert alert-danger" *ngIf="edate.errors.required">
    End date is required.
  </div>
</div>
<div class="form-group">
    <label for="charttype">Chart Type</label>
    <select class="form-control" id="charttype" required [(ngModel)]="selectedType" name="charttype" #type="ngModel">
      <option *ngFor="let m of graphTypes" [value]="m">{{m}}</option>
    </select>
</div>
<br/>
<div *ngIf="type.invalid && (type.dirty || type.touched)">
  <div class="alert alert-danger" *ngIf="type.errors.required">
    Graph type is required.
  </div>
</div>  
<br/><br/>
<button class="btn btn-success btn-lg" type="submit" [disabled]="bdate.invalid || edate.invalid || type.invalid" (click)="getChartData()">Submit</button>